<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Pagina de Blogs - {% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-eT7VfhTfTg/Y7Vb8W+x6ZzKwCPqrCpJSLvjq8WNNKbI9Omk/Oa6HzYISF8WQZ5O5wK2EMrq5B5g5L1yihXuhqg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">

</head>


<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="logo-container">
        <a class="navbar-brand" href="{{ url_for('home.index') }}">
          <img src="{{ url_for('static', filename='img/KANCHAQ.png') }}" alt="LOGO-KANCHAQ" class="rounded-circle">
          <span class="logo-text">RESTAURANTE K'ANCHAQ</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-2">
              <a class="nav-link text-white" href="#">Inicio</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link text-white" href="#">Testimonios</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link text-white" href="#">Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        {% if not g.user %}
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link btn btn-outline-light mr-2 btn-lg" href="{{ url_for('auth.login') }}">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-warning btn-lg" href="{{ url_for('auth.register') }}">Registrarse</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {% if g.user.photo is none %}
              <img src="{{ url_for('static', filename='img/itachi.jpg') }}" alt="foto-perfil" class="rounded-circle">
              {% else %}
              <img src="{{ url_for('static', filename= g.user.photo) }}" alt="foto-perfil" class="rounded-circle">
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right w-100" aria-labelledby="navbarDropdown">
              <div class="dropdown-header">¡Hola {{ g.user.username }}!</div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('post.create') }}">Crear blog</a>
              <a class="dropdown-item" href="{{ url_for('post.posts') }}">Mis blogs</a>
              <a class="dropdown-item" href="{{ url_for('auth.profile', id=g.user.id) }}">Mi Perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
            </div>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
  </header>


  {% block alert %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-danger">
    <ul>
      <div>
        {% for message in messages %}
        <li>{{ message }}</li>
      </div>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}
  {%endblock %}

  {% block content %}

  {% endblock %}


  <!-- Agrega los enlaces para las librerías JS de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  {{ ckeditor.load() }}
</body>

<footer class="bg-dark text-white py-3">
  <div class="container ">
    <div class="row">
      <div class="col-md-4">
        <h5>Enlaces útiles</h5>
        <ul class="list-unstyled">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Acerca de nosotros</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Redes sociales</h5>
        <ul class="list-inline">
          <li class="list-inline-item m-2 social-icon"><a href="https://www.facebook.com/Kanchaq" target="_blank"
              rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a></li>
          <li class="list-inline-item m-2 social-icon"><a href="https://github.com/prodark88" target="_blank"
              rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a></li>
          <li class="list-inline-item m-2 social-icon"><a href="https://www.instagram.com/noone_kennth/" target="_blank"
              rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
            <li><i class="fa fa-map-marker"></i> Dirección: Urb. Jose Ortiz Vergara, Ayacucho-Huamanga</li>
            <li><i class="fa fa-envelope"></i> Email: info@outlook.es</li>
            <li><i class="fa fa-phone"></i> Teléfono: 921 023 409</li>
        </ul>
    </div>
</div>
<hr style="background-color: #f2f2f2;">
<div class="d-flex align-items-center justify-content-between">
    <div class="col-md-6 text-left">
        <h5><i class="fa-sharp fa-solid fa-copyright"></i>
            Todos los derechos reservados</h5>
    </div>
    <div class="col-md-6 text-right">
      <h5>Creado por <strong><a href="https://github.com/prodark88" target="_blank">Kenneth Molina</a></strong></h5>
  </div> 
</div>
</div>
</footer>

</html>