
  .intro-section2 {
    margin-top: 160px;
  }

  * {
    font-family: Georgia, serif;
  }
  
  h2 {
    font-family: Georgia, serif;
    font-style: italic;
  }
  
  p {
    font-family: Calibri, sans-serif;
  }
 

  .card {
    margin-top: 30px;
  }
  .container{
    margin-top: 20px;
  }
  .container-2{
    margin-top: 80px;
  }

  .alert {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px
  }

  .rounded-border {
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.2);
  }

